<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addPackageLastDir</key>
	<string>/</string>
	<key>CopyAppDescriptionToPackages</key>
	<true/>
	<key>CopyPkgsToRepo</key>
	<true/>
	<key>debug</key>
	<true/>
	<key>debugLogAllProperties</key>
	<false/>
	<key>installsKeys</key>
	<array>
		<string>md5checksum</string>
		<string>CFBundleIdentifier</string>
		<string>CFBundleName</string>
		<string>CFBundleShortVersionString</string>
		<string>path</string>
		<string>type</string>
		<string>minosversion</string>
	</array>
	<key>items_to_copyGroup</key>
	<string>admin</string>
	<key>items_to_copyMode</key>
	<string>og-w</string>
	<key>items_to_copyOwner</key>
	<string>root</string>
	<key>items_to_copyUseDefaults</key>
	<true/>
	<key>sortManagedInstallsByTitle</key>
	<false/>
	<key>sortManagedUpdatesByTitle</key>
	<false/>
	<key>sortManagedUninstallsByTitle</key>
	<false/>
	<key>sortOptionalInstallsByTitle</key>
	<false/>
	<key>itemsToCopyKeys</key>
	<array>
		<string>destination_path</string>
		<string>group</string>
		<string>mode</string>
		<string>source_item</string>
		<string>user</string>
	</array>
	<key>makecatalogsPath</key>
	<string>/usr/local/munki/makecatalogs</string>
	<key>makepkginfoPath</key>
	<string>/usr/local/munki/makepkginfo</string>
	<key>openRepositoryLastDir</key>
	<string>/</string>
	<key>pkginfoKeys</key>
	<array>
		<string>autoremove</string>
		<string>description</string>
		<string>display_name</string>
		<string>force_install_after_date</string>
		<string>forced_install</string>
		<string>forced_uninstall</string>
		<string>installed_size</string>
		<string>installer_item_hash</string>
		<string>installer_item_location</string>
		<string>installer_item_size</string>
		<string>installer_type</string>
		<string>maximum_os_version</string>
		<string>minimum_os_version</string>
		<string>name</string>
		<string>package_path</string>
		<string>postinstall_script</string>
		<string>postuninstall_script</string>
		<string>preinstall_script</string>
		<string>preuninstall_script</string>
		<string>unattended_install</string>
		<string>unattended_uninstall</string>
		<string>uninstall_method</string>
		<string>uninstall_script</string>
		<string>uninstaller_item_location</string>
		<string>uninstallable</string>
		<string>version</string>
	</array>
	<key>receiptKeys</key>
	<array>
		<string>filename</string>
		<string>installed_size</string>
		<string>packageid</string>
		<string>name</string>
		<string>version</string>
	</array>
	<key>UpdateCatalogsOnSave</key>
	<true/>
	<key>UpdateManifestsOnSave</key>
	<true/>
	<key>UpdatePkginfosOnSave</key>
	<true/>
	<key>UseExistingDescriptionForPackages</key>
	<true/>
	<key>UseExistingDisplayNameForPackages</key>
	<true/>
	<key>UseExistingMinOSVersionForPackages</key>
	<true/>
	<key>installerChoicesKeys</key>
	<array>
		<string>attributeSetting</string>
		<string>choiceAttribute</string>
		<string>choiceIdentifier</string>
	</array>
	<key>startupSelectedView</key>
	<integer>0</integer>
	<key>startupWhatToDo</key>
	<integer>1</integer>
</dict>
</plist>
