<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>makepkginfoPath</key>
	<string>/usr/local/munki/makepkginfo</string>
	<key>debug</key>
	<true/>
	<key>debugLogAllProperties</key>
	<false/>
	<key>makecatalogsPath</key>
	<string>/usr/local/munki/makecatalogs</string>
	<key>openRepositoryLastDir</key>
	<string>/</string>
	<key>addPackageLastDir</key>
	<string>/</string>
	<key>UpdatePkginfosOnSave</key>
	<true/>
	<key>UpdateManifestsOnSave</key>
	<true/>
	<key>UpdateCatalogsOnSave</key>
	<true/>
	<key>CopyAppDescriptionToPackages</key>
	<true/>
</dict>
</plist>
