<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>DevMateAnalyticsEnabled</key>
	<false/>
	<key>DevMateIssuesEnabled</key>
	<false/>
	<key>DevMateAnalyticsPermissionAsked</key>
	<false/>
	<key>manifestUserNameKey</key>
	<string>user</string>
	<key>manifestDisplayNameKey</key>
	<string>display_name</string>
	<key>manifestAdminNotesKey</key>
	<string>notes</string>
	<key>MoveInstallerItemsWithPkginfos</key>
	<true/>
	<key>MoveInstallerItemsWithPkginfosSuppressed</key>
	<false/>
	<key>addPackageLastDir</key>
	<string>/</string>
	<key>CopyAppDescriptionToPackages</key>
	<true/>
	<key>CopyPkgsToRepo</key>
	<true/>
	<key>debug</key>
	<false/>
	<key>debugLogAllProperties</key>
	<false/>
	<key>installsKeys</key>
	<array>
		<string>CFBundleIdentifier</string>
		<string>CFBundleName</string>
		<string>CFBundleShortVersionString</string>
		<string>CFBundleVersion</string>
		<string>md5checksum</string>
		<string>minosversion</string>
		<string>path</string>
		<string>type</string>
		<string>version_comparison_key</string>
	</array>
	<key>items_to_copyGroup</key>
	<string>admin</string>
	<key>items_to_copyMode</key>
	<string>og-w</string>
	<key>items_to_copyOwner</key>
	<string>root</string>
	<key>items_to_copyUseDefaults</key>
	<false/>
	<key>logLevel</key>
	<integer>3</integer>
	<key>logToSyslog</key>
	<false/>
	<key>logToFile</key>
	<true/>
	<key>maximumNumberOfLogFiles</key>
	<integer>7</integer>
	<key>sortManagedInstallsByTitle</key>
	<true/>
	<key>sortManagedUpdatesByTitle</key>
	<true/>
	<key>sortManagedUninstallsByTitle</key>
	<true/>
	<key>sortOptionalInstallsByTitle</key>
	<true/>
	<key>itemsToCopyKeys</key>
	<array>
		<string>destination_path</string>
		<string>group</string>
		<string>mode</string>
		<string>source_item</string>
		<string>user</string>
		<string>destination_item</string>
	</array>
	<key>makecatalogsPath</key>
	<string>/usr/local/munki/makecatalogs</string>
	<key>makecatalogsForceEnabled</key>
	<false/>
	<key>makecatalogsOnlyIfNeeded</key>
	<false/>
	<key>makepkginfoPath</key>
	<string>/usr/local/munki/makepkginfo</string>
	<key>openRepositoryLastDir</key>
	<string>/</string>
	<key>pkginfoBasicKeys</key>
	<array>
		<string>apple_item</string>
		<string>autoremove</string>
		<string>description</string>
		<string>display_name</string>
		<string>force_install_after_date</string>
		<string>forced_install</string>
		<string>forced_uninstall</string>
		<string>icon_hash</string>
		<string>icon_name</string>
		<string>installable_condition</string>
		<string>installcheck_script</string>
		<string>installed_size</string>
		<string>installer_item_hash</string>
		<string>installer_item_location</string>
		<string>installer_item_size</string>
		<string>installer_type</string>
		<string>maximum_os_version</string>
		<string>minimum_munki_version</string>
		<string>minimum_os_version</string>
		<string>name</string>
		<string>notes</string>
		<string>OnDemand</string>
		<string>package_path</string>
		<string>PayloadIdentifier</string>
		<string>postinstall_script</string>
		<string>postuninstall_script</string>
		<string>preinstall_script</string>
		<string>preuninstall_script</string>
		<string>RestartAction</string>
		<string>suppress_bundle_relocation</string>
		<string>unattended_install</string>
		<string>unattended_uninstall</string>
		<string>uninstall_method</string>
		<string>uninstall_script</string>
		<string>uninstallable</string>
		<string>uninstallcheck_script</string>
		<string>uninstaller_item_location</string>
		<string>version</string>
	</array>
	<key>pkginfoArrayKeys</key>
	<array>
		<string>blocking_applications</string>
		<string>catalogs</string>
		<string>installer_choices_xml</string>
		<string>installs</string>
		<string>items_to_copy</string>
		<string>receipts</string>
		<string>requires</string>
		<string>supported_architectures</string>
		<string>update_for</string>
	</array>
	<key>receiptKeys</key>
	<array>
		<string>filename</string>
		<string>installed_size</string>
		<string>packageid</string>
		<string>name</string>
		<string>version</string>
		<string>optional</string>
	</array>
	<key>UpdateCatalogsOnSave</key>
	<true/>
	<key>UpdateManifestsOnSave</key>
	<true/>
	<key>UpdatePkginfosOnSave</key>
	<true/>
	<key>UseExistingDescriptionForPackages</key>
	<true/>
	<key>UseExistingDisplayNameForPackages</key>
	<true/>
	<key>UseExistingMinOSVersionForPackages</key>
	<true/>
	<key>assimilate_enabled</key>
	<true/>
	<key>assimilate_autoremove</key>
	<true/>
	<key>assimilate_blocking_applications</key>
	<true/>
	<key>assimilate_category</key>
	<true/>
	<key>assimilate_description</key>
	<true/>
	<key>assimilate_developer</key>
	<true/>
	<key>assimilate_display_name</key>
	<true/>
	<key>assimilate_icon_hash</key>
	<true/>
	<key>assimilate_icon_name</key>
	<true/>
	<key>assimilate_installable_condition</key>
	<true/>
	<key>assimilate_installcheck_script</key>
	<true/>
	<key>assimilate_installer_choices_xml</key>
	<true/>
	<key>assimilate_installs_items</key>
	<false/>
	<key>assimilate_items_to_copy</key>
	<false/>
	<key>assimilate_maximum_os_version</key>
	<true/>
	<key>assimilate_minimum_munki_version</key>
	<true/>
	<key>assimilate_minimum_os_version</key>
	<true/>
	<key>assimilate_name</key>
	<false/>
	<key>assimilate_pre_scripts</key>
	<true/>
	<key>assimilate_preinstall_script</key>
	<true/>
	<key>assimilate_postinstall_script</key>
	<true/>
	<key>assimilate_preuninstall_script</key>
	<true/>
	<key>assimilate_postuninstall_script</key>
	<true/>
	<key>assimilate_post_scripts</key>
	<true/>
	<key>assimilate_receipts</key>
	<false/>
	<key>assimilate_requires</key>
	<true/>
	<key>assimilate_supported_architectures</key>
	<true/>
	<key>assimilate_unattended_install</key>
	<true/>
	<key>assimilate_unattended_uninstall</key>
	<true/>
	<key>assimilate_uninstall_method</key>
	<true/>
	<key>assimilate_uninstall_script</key>
	<true/>
	<key>assimilate_uninstallable</key>
	<true/>
	<key>assimilate_uninstallcheck_script</key>
	<true/>
	<key>assimilate_uninstaller_item_location</key>
	<true/>
	<key>assimilate_update_for</key>
	<true/>
	<key>installerChoicesKeys</key>
	<array>
		<string>attributeSetting</string>
		<string>choiceAttribute</string>
		<string>choiceIdentifier</string>
	</array>
	<key>startupSelectedView</key>
	<integer>0</integer>
	<key>startupWhatToDo</key>
	<integer>1</integer>
	<key>sidebarDeveloperMinimumNumberOfPackageNames</key>
	<integer>1</integer>
	<key>sidebarInstallerTypesVisible</key>
	<true/>
	<key>sidebarCategoriesVisible</key>
	<true/>
	<key>sidebarDevelopersVisible</key>
	<true/>
	<key>sidebarDirectoriesVisible</key>
	<true/>
	<key>backupPkginfosBeforeWriting</key>
	<true/>
	<key>backupManifestsBeforeWriting</key>
	<true/>
	<key>backupKeepDays</key>
	<integer>30</integer>
	<key>atomicWrites</key>
	<true/>
</dict>
</plist>
